<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="page-header text-center">
      <h1>New Post!</h1>
    </div>
    <% vf = vertical_form(model.contract, url) %>
    <%= vf.start %>
      <%= vf.row.start %>
        <% ig = vf.input_group :title, label: "Title", inline_col_class: ['col-sm-6'] %>
        <%= ig.start %>
          <%= ig.group_addon('<input type="checkbox" value="1"/>') %>
          <%= ig.control %>
        <%= ig.end %>

        <%= vf.input :url_slug, label: "URL Slug", inline_col_class: ['col-sm-6'] %>
      <%= vf.row.end %>

      <%= vf.input_group :url_slug,
                         label: "URL",
                         left_addon: 'http://',
                         right_addon: '.com',
                         stacked_col_class: ['col-md-9'] %>

      <%= vf.select :select_roles,
                    label: "Roles",
                    collection: roles_array,
                    stacked_col_class: ['col-md-6'] %>

      <%= vf.inline_radio :select_roles, label: "Inline radios", collection: [[1, "Yes"], [2, "No"], [3, "I really don't know"]] %>

      <%= vf.inline_checkbox :select_roles, label: "Inline checkboxes", collection: options_array %>

      <hr/>
      <h4>Checkboxes in columns!</h4>
      <%= vf.row.start %>
        <div class="col-sm-4">
          <%= vf.checkbox :select_roles, label: "Column 1", collection: options_array %>
        </div>

        <div class="col-sm-4">
          <%= vf.checkbox :select_roles, label: "Column 2", collection: options_array %>
        </div>

        <div class="col-sm-4">
          <%= vf.checkbox :select_roles, label: "Column 3", collection: options_array %>
        </div>
      <%= vf.row.end %>
      <hr/>

      <%= vf.textarea :content, placeholder: "And your story...", rows: 9 %>
      <%= vf.checkbox :is_public, label: "Public?", value: "1" %>

      <%= vf.submit value: "Submit!", class: ['btn-lg'] %>
    <%= vf.end %>

    <div class="page-header text-center">
      <h1>Inline Form</h1>

      <% inf = inline_form(model.contract, url) %>
      <%= inf.start %>
        <%= inf.input :title %>
        <%= inf.input :url_slug, label: 'url slug', placeholder: "URL slug", label_options: { class: ["sr-only"] } %>
        <%= inf.submit(value: "Submit!") %>
      <%= inf.end %>
    </div>
  </div>
</div>

<div class="page-header text-center">
  <h1>Horizontal Form</h1>
</div>
<% hf = horizontal_form(model.contract, url) %>
<%= hf.start %>

  <% ig = hf.input_group :title, label: "Title" %>
  <%= ig.start %>
    <%= ig.control %>
    <%= ig.group_btn("<a class='btn btn-default' href='#'>Suprise Me</a>") %>
  <%= ig.end %>

  <%= hf.input :url_slug, label: 'URL Slug' %>

  <%= hf.textarea :content, label: 'Content', placeholder: "And your story...", rows: 9 %>

  <%= hf.select :select_roles, label: 'Label', collection: roles_array %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= hf.submit value: "Submit!", class: ['btn-lg'] %>
    </div>
  </div>
<%= hf.end %>
